{% extends "base.html" %} {% load static %} {% block content %}
<div class="container mx-auto">
  <h1 class="text-center text-5xl text-black ">New Arrivals</h1>
  <p class="text-center text-2xl">Our Latest collection</p>

  <div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center ">
      <!-- Page content here -->
      
    <div class="products w-full p-5 ">
        <div class="flex justify-between  mx-auto px-5">
        <div class="text-black">
            <h1 class="text-2xl">
            <span class="font-semibold">Featured</span> Products
            </h1>
        </div>
        <div class="text">
            <a href="#" class="btn btn-ghost">View All</a>
        </div>
        </div>
    
        <div class="grid lg:grid-cols-4  md:grid-cols-2  mx-auto  mb-4 ">
        <div class="card bg-white text-black w-[250px] hover:scale-105 mx-auto shadow-xl my-2">
            <figure>
            <img
                class="h-[250px] w-full"
                src="/static/image/product1.png"
                alt="Shoes"
            />
            </figure>
            <div class="card-body">
            <div class="card-title justify-between">
                <div class="card-title">
                Shoes!
                <h1 class="badge badge-secondary">NEW</h1>
                </div>
                <div class="justify-end float-right">$999</div>
            </div>
    
            <button
                class="btn btn-outline border-[#4f7c87] text-[#4f7c87] hover:bg-[#4f7c87] hover:text-white"
            >
                Add to cart
            </button>
            </div>
        </div>
    
        <div class="card bg-white text-black w-[250px] hover:scale-105 mx-auto shadow-xl  my-2">
            <figure>
                <img
                class="h-[250px] w-full"
                src="/static/image/product2.png"
                alt="Shoes"
                />
            </figure>
            <div class="card-body">
                <div class="card-title justify-between">
                <div class="card-title">
                    Shoes!
                    <h1 class="badge badge-secondary">NEW</h1>
                </div>
                <div class="justify-end float-right">$999</div>
                </div>
        
                <button
                class="btn btn-outline border-[#4f7c87] text-[#4f7c87] hover:bg-[#4f7c87] hover:text-white"
                >
                Add to cart
                </button>
            </div>
            </div>
    
            <div class="card bg-white text-black w-[250px] hover:scale-105 mx-auto shadow-xl my-2">
            <figure>
                <img
                class="h-[250px] w-full"
                src="/static/image/product3.png"
                alt="Shoes"
                />
            </figure>
            <div class="card-body">
                <div class="card-title justify-between">
                <div class="card-title">
                    Shoes!
                    <h1 class="badge badge-secondary">NEW</h1>
                </div>
                <div class="justify-end float-right">$999</div>
                </div>
        
                <button
                class="btn btn-outline border-[#4f7c87] text-[#4f7c87] hover:bg-[#4f7c87] hover:text-white"
                >
                Add to cart
                </button>
            </div>
            </div>
    
            
            <div class="card bg-white text-black w-[250px] hover:scale-105 mx-auto shadow-xl my-2">
            <figure>
                <img
                class="h-[250px] w-full"
                src="/static/image/product4.png"
                alt="Shoes"
                />
            </figure>
            <div class="card-body">
                <div class="card-title justify-between">
                <div class="card-title">
                    Shoes!
                    <h1 class="badge badge-secondary">NEW</h1>
                </div>
                <div class="justify-end float-right">$999</div>
                </div>
        
                <button
                class="btn btn-outline border-[#4f7c87] text-[#4f7c87] hover:bg-[#4f7c87] hover:text-white"
                >
                Add to cart
                </button>
            </div>
            </div>
        
    
    
    
    
        </div>
    </div>
  
      <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
        Filters
      </label>
    </div>
    <div class="drawer-side p-4">
      <label
        for="my-drawer-2"
        aria-label="close sidebar"
        class="drawer-overlay"
      ></label>
      <ul class="menu bg-[#ebf2f1]  text-base-content rounded-md w-80 p-4">
        <!-- Sidebar content here -->
        <li><a>Sidebar Item 1</a></li>
        <p class="p-4 text-2xl">Filters</p>
        <select class="select select-ghost bg-[#ebf2f1] w-full max-w-xs">
            <option disabled selected>Pick the best JS framework</option>
            <option>Svelte</option>
            <option>Vue</option>
            <option>React</option>
        </select>
        <li><a>Sidebar Item 2</a></li>

      </ul>
    </div>
  </div>
</div>
{% endblock %}
